{% extends 'layout.njk' %}

{% block head %}
  <title>Gym Manager - Member</title>
{% endblock %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{ member.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Nome</div>
        <div>{{ member.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ member.email }}</div>
      </div>

      <div class="item">
        <div>Aniversário</div>
        <div>{{ member.age }}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{ member.gender }}</div>
      </div>

      <div class="item">
        <div>Tipo Sanguíneo</div>
        <div>{{ member.blood }}</div>
      </div>

      <div class="item">
        <div>Peso (Kg)</div>
        <div>{{ member.weight }}</div>
      </div>

      <div class="item">
        <div>Altura (cm)</div>
        <div>{{ member.height }}</div>
      </div>

      <div class="item">
        <div>Instrutor</div>
        <div>{{ member.instrutor }}</div>
      </div>

      <div class="item">
        <div>Cadastrado em</div>
        <div>{{ member.created_at }}</div>
      </div>

      <a href="/members/{{ member.id }}/edit" class="button">Editar</a>
    </section>
  </div>
{% endblock %}